<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="NextAutomationSuite" verbose="1" parallel="false">
    <test name="CucumberTests">
        <classes>
            <!-- We'll create a Cucumber TestNG runner class later named TestNGCucumberRunner -->
            <class name="runners.TestNGCucumberRunner"/>
        </classes>
    </test>
</suite>
